body {
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  position: relative;
  z-index: 10;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 34px;
  line-height: 45px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
}

h2 {
  margin-top: 20px;
  margin-bottom: 22px;
  margin-left: -27px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}

p {
  margin: -5px 2px 8px -26px;
  font-size: 18px;
  line-height: 25px;
}

a {
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  color: #25ac6a;
  text-decoration: underline;
}

a:hover {
  color: #000;
}

img {
  display: inline-block;
  max-width: 100%;
  background-image: url('../images/black-background-brain-close-up-818563.jpg');
  background-position: 0px 0px;
  background-size: 125px;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  color: #666;
  font-size: 20px;
  line-height: 22px;
  font-style: italic;
  font-weight: 300;
}

.hero-section {
  position: relative;
  padding-top: 130px;
  padding-bottom: 145px;
  background-image: url('../images/design-desk.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.hero-section.about-page {
  position: relative;
  height: 350px;
  margin-bottom: 21px;
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/blur-bracelets-caffeine-272887.jpg');
}

.hero-section.blog-hero {
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/blur-codes-coding-577585.jpg');
  background-position: 50% 50%;
}

.hero-section.portfolio-hero {
  overflow: visible;
  height: 100%;
  padding-top: 120px;
  padding-bottom: 80px;
  background-image: url('../images/laptop-desk.jpg');
}

.hero-section.blog-post-hero {
  padding-bottom: 150px;
}

.hero-section.home-page-hero {
  /* background-image: url('../images/work-late'); */
  background-position: 50% 50%;
  background-size: cover;
}

.nav {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: transparent;
}

.logo-text {
  margin-top: 11px;
  color: #fff;
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
}

.logo-text.footer-logo {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 3px;
}

.nav-link {
  opacity: 0.6;
  -webkit-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav-link:hover {
  opacity: 1;
  color: #fff;
}

.nav-link.w--current {
  opacity: 1;
  color: #fff;
}

.nav-link.contact {
  margin-top: 9px;
  margin-left: 30px;
  padding: 10px;
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, 0.3);
  font-size: 12px;
  line-height: 18px;
}

.nav-link.footer-link {
  margin-top: 0px;
  padding: 10px;
  float: right;
  text-decoration: none;
}

.section {
  margin-top: 40px;
  margin-bottom: -30px;
  padding-top: 15px;
  padding-bottom: 0px;
}

.section.top-section {
  padding-top: 0px;
  padding-bottom: 0px;
}

.section.gray-section {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ececec;
}

.hero-container {
  position: relative;
  top: -70px;
  padding: 5px;
  background-color: #fff;
}

.hero-container.project-container {
  padding: 10px;
}

._60block {
  width: 60%;
  height: 300px;
  padding: 5px;
  float: left;
}

.hero-tile {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.tile-image {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  background-image: url('../images/adult-blur-businesswoman-374897.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: scroll;
  -webkit-transition: -webkit-transform 1000ms ease;
  transition: -webkit-transform 1000ms ease;
  transition: transform 1000ms ease;
  transition: transform 1000ms ease, -webkit-transform 1000ms ease;
  cursor: pointer;
  z-index: 100;
}

.tile-image:hover {
  /* -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03); */
  opacity: 0.8;

}


.tile-image.hire {
  background-image: url('../images/coaching-coders-coding-7374.jpg');
}

.tile-text {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 20;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  color: #fff;
  font-size: 27px;
  line-height: 30px;
  font-weight: 900;
  text-align: right;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.37);
}

._40block {
  position: relative;
  width: 40%;
  height: 300px;
  padding: 5px;
  float: left;
}

._33block {
  width: 33.33%;
  height: 300px;
  padding: 5px;
  float: left;
}

.social-block {
  width: 50%;
  height: 145px;
  float: left;
  background-color: #55acee;
  background-image: url('../images/linkedin-white.png');
  background-position: 50% 50%;
  background-size: 100px;
  background-repeat: no-repeat;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  cursor: pointer;
}

.social-block:hover {
  background-color: #3d90cf;
}

.social-block.facebook {
  background-color: #3765a3;
  background-image: url('../images/facebook.svg');
  background-size: 50px;
}

.social-block.facebook:hover {
  background-color: #23528f;
}

.social-block.pinterest {
  background-color: #c92228;
  background-image: url('../images/git-icon-logo-black-and-white.png');
  background-size: 50px;
}

.social-block.pinterest:hover {
  background-color: #aa1217;
}

.social-block.dribbble {
  display: inline-block;
  background-color: #e04c86;
  background-image: url('../images/Mail-Icon-white-300x300.png');
  background-size: 50px;
}

.social-block.dribbble:hover {
  background-color: #c02c67;
}

.footer-section {
  position: static;
  display: block;
  max-height: none;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #2a2a2a;
}

.footer-link-col {
  padding-left: 3px;
}

.tile-link {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-image: url('../images/laptop-desk.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.tile-link.tile-image {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.contact-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  text-align: center;
}

.close-link {
  display: block;
  margin-bottom: 20px;
  opacity: 0.5;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.close-link:hover {
  opacity: 1;
  color: #fff;
}

.text-field {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.1);
  font-size: 16px;
}

.text-field:focus {
  border-color: hsla(0, 0%, 100%, 0.3);
  color: #fff;
}

.text-field.text-area {
  height: 120px;
}

.form-wrapper {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.submit-button {
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 3px;
  background-color: #55acee;
  -webkit-transition: background-color 400ms ease;
  transition: background-color 400ms ease;
  font-size: 17px;
}

.submit-button:hover {
  background-color: #3765a3;
}

.contact-heading {
  color: #fff;
  font-size: 30px;
  line-height: 32px;
}

.small-divider {
  display: block;
  width: 80px;
  height: 2px;
  margin: 10px auto;
  background-color: #fff;
  opacity: 0.2;
}

.small-divider.dark-divider {
  background-color: #000;
}

.contact-text {
  margin-bottom: 20px;
  opacity: 0.7;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}

.success-message {
  background-color: #2bab68;
}

.success-text {
  margin-bottom: 0px;
  color: #fff;
}

.hero-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 100%;
  margin-bottom: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 3px 0 #000, 0 0 0 -20px #000;
  opacity: 0.72;
}

.cta-section {
  margin-top: 50px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e6acac;
  text-align: center;
}

.cta-heading {
  margin-bottom: 18px;
  color: #fff;
  font-size: 34px;
  line-height: 40px;
  font-weight: 700;
}

.button {
  padding: 15px 40px;
  border-style: none;
  border-width: 1px;
  border-color: #912c2c;
  border-radius: 30px;
  background-color: #e9e9e9;
  opacity: 1;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
  color: rgba(224, 76, 134, 0.76);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  white-space: normal;
}

.button:hover {
  background-color: #828282;
  color: #fff;
}

.project-image-1 {
  position: static;
  display: block;
  height: 250px;
  border-radius: 3px;
  background-image: url('../images/focus-photo-of-super-mario-luigi-and-yoshi-figurines-163036.jpg');
  background-size: cover;
  background-attachment: fixed;
  -webkit-transition: -webkit-transform 700ms ease;
  transition: -webkit-transform 700ms ease;
  transition: transform 700ms ease;
  transition: transform 700ms ease, -webkit-transform 700ms ease;
  text-align: center;
}

.project-image-1:hover {
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}

.project-block {
  margin-bottom: 76px;
  padding: 8px;
}

.project-title {
  position: absolute;
  left: 25px;
  bottom: 25px;
  color: #fff;
  font-size: 22px;
  line-height: 24px;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
}

.project-tag {
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 9px 10px 8px;
  border-radius: 3px;
  opacity: 1;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.project-link {
  display: block;
  overflow: hidden;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
  color: #333;
  text-decoration: none;
}

.project-link:hover {
  color: #55acee;
}

.project-link.blog-link {
  height: 340px;
}

.project-link.blog-link:hover {
  color: #333;
}

.alternate-image {
  height: 360px;
  margin-bottom: 15px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 50% 50%;
  background-size: cover;
}

.project-text {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.center {
  text-align: center;
}

.blog-block {
  position: relative;
  padding: 10px;
}

.blog-image {
  position: relative;
  height: 100%;
  margin-bottom: 10px;
  background-image: url('../images/react.png');
  background-position: 50% 50%;
  background-size: cover;
}

.blog-title {
  margin-bottom: 5px;
  padding-right: 5px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.blog-description {
  margin-bottom: 10px;
  color: #666;
}

.blog-date {
  position: absolute;
  left: 10px;
  top: 13px;
  z-index: 10;
  color: #fff;
}

.blog-author {
  display: inline-block;
  margin-right: 3px;
  color: #888;
  font-style: italic;
}

.blog-category {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  padding: 7px 8px;
  border-radius: 3px;
  opacity: 1;
  color: #fff;
  line-height: 14px;
}

.blog-post-wrapper {
  padding-top: 30px;
}

.blog-details {
  display: inline-block;
  margin-right: 8px;
  margin-left: 8px;
  opacity: 0.7;
  color: #fff;
  font-size: 16px;
}

.hero-text-wrapper {
  position: relative;
  z-index: 10;
  text-align: center;
}

.author-wrapper {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  text-align: center;
}

.author-image {
  width: 150px;
  margin-bottom: 5px;
  border-radius: 200px;
}

.author-name {
  color: #444;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.author-bio {
  color: #666;
  font-size: 17px;
  line-height: 23px;
}

.home-page-heading {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-size: 55px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
}

.tile-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.blog-image-wrapper {
  position: relative;
  overflow: hidden;
  height: 180px;
  margin-bottom: 10px;
}

.text-block {
  margin-top: 0px;
  margin-right: 1px;
  margin-left: 0px;
}

.heading {
  text-align: left;
}

.rich-block {
  margin-bottom: 76px;
  text-decoration: none;
}

.rich-block.rich-text-class img {
  margin-top: -50px;
  background-image: url('../images/73089758_436423773961361_4093335507918913536_n.jpg');
  background-position: 0px 0px;
  background-size: 125px;
}

.image {
  position: static;
  display: block;
  float: right;
  clear: right;
}

.image-2 {
  height: 400.8125px;
  max-height: 100%;
  border-radius: 0px;
}

.image-3 {
  background-image: url('../images/blur-codes-coding-577585.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.image-4 {
  background-image: url('../images/focus-photo-of-super-mario-luigi-and-yoshi-figurines-163036.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.collection-list {
  margin-bottom: 27px;
}

.image-5 {
  position: relative;
  top: 0px;
  right: 0px;
  display: inline-block;
  overflow: visible;
  width: auto;
  margin-right: 4px;
  margin-left: 6px;
  float: left;
}

.section-2 {
  margin-top: 50px;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.grid-2 {
  height: 450px;
  margin-top: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-template-areas: ". Area";
}

.image-6 {
  display: block;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png'), url('../images/black-background-brain-close-up-818563.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: 125px, 125px;
  background-attachment: scroll, scroll;
}

.section-3 {
  margin-top: 30px;
}

.div-block {
  margin-right: 50px;
  margin-left: 68px;
}

.div-block-2 {
  width: 520px;
  height: 270px;
  margin-right: 30px;
  margin-left: 300px;
}

.div-block-3 {
  width: 500px;
  height: 250px;
  margin-right: 300px;
  margin-left: 30px;
}

.image-7 {
  position: relative;
  background-image: url('../images/focus-photo-of-super-mario-luigi-and-yoshi-figurines-163036.jpg');
  background-position: 0px 0px;
  background-size: 125px;
}

.image-8 {
  position: relative;
  width: 500px;
  height: 250px;
  max-width: none;
  -webkit-transition: max-height 200ms ease, width 200ms ease;
  transition: max-height 200ms ease, width 200ms ease;
}

.image-9 {
  overflow: visible;
  width: 500px;
  height: 250px;
  max-width: none;
}

.div-block-4 {
  position: relative;
  left: 0px;
}

.columns {
  margin-bottom: 0px;
}

.image-10 {
  position: relative;
}

.columns-2 {
  position: relative;
  top: 23px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
  max-height: 200px;
  min-height: 120px;
  margin-top: auto;
}

.div-block-5 {
  position: relative;
  overflow: visible;
  height: 200px;
  min-height: 120px;
}

.div-block-6 {
  position: relative;
  height: 200px;
  min-height: 120px;
}

.column {
  height: 200px;
  min-height: 120px;
}

.image-11 {
  width: 380px;
  height: 200px;
}

.image-12 {
  width: 380px;
  height: 200px;
}

.heading-2 {
  position: absolute;
  left: auto;
  top: -12%;
  right: 0%;
  bottom: auto;
  overflow: visible;
  float: right;
  clear: none;
  border-radius: 0px;
  opacity: 0.69;
  font-family: Inconsolata, monospace;
  font-size: 20px;
  line-height: 40px;
  font-weight: 300;
  text-decoration: none;
}

.heading-3 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  overflow: visible;
  float: right;
  clear: none;
}

.grid-4 {
  margin-top: 60px;
  grid-column-gap: 0px;
  grid-row-gap: 60px;
}

.image-13 {
  width: 400px;
  height: 200px;
}

.image-14 {
  width: 400px;
  height: 200px;
}

.container {
  margin-top: 30px;
  margin-bottom: 56px;
  font-weight: 400;
}

.collection-list-wrapper {
  display: block;
}

.collection-item {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.column-2 {
  height: 200px;
}

.column-3 {
  height: 200px;
}

.column-4 {
  height: 200px;
}

.image-15 {
  max-height: 200px;
}

.image-16 {
  height: auto;
  max-height: 200px;
  min-height: 0px;
}

.heading-4 {
  margin-top: 30px;
  margin-bottom: 0px;
  margin-left: 200px;
  font-family: Inconsolata, monospace;
  color: #000;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
}

.heading-5 {
  margin-right: 200px;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-family: Inconsolata, monospace;
  text-align: right;
  text-decoration: none;
}

.heading-6 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: 10px;
  margin-right: 0px;
  float: right;
}

.heading-7 {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  margin-left: 20px;
  font-size: 24px;
  line-height: 30px;
}

.heading-8 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: Inconsolata, monospace;
  color: #000;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-decoration: none;
}

.image-17 {
  max-height: 200px;
}

.image-19 {
  display: inline-block;
  overflow: visible;
  height: 200px;
  max-height: 200px;
  float: none;
}

.image-20 {
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  cursor: pointer;
}

.image-20.tile-image {
  -webkit-transition: opacity 1000ms ease;
  transition: opacity 1000ms ease;
}

/*  */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-top: 15px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
  /*  */

.heading-9 {
  font-family: 'Times New Roman', TimesNewRoman, Times, Baskerville, Georgia, serif;
  color: #000;
}

.link-block {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 20;
  display: block;
  overflow: auto;
  float: none;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -webkit-transition-property: none;
  transition-property: none;
  cursor: pointer;
}

.image-21 {
  opacity: 1;
  background-position: 50% 50%;
  
}

html.w-mod-js *[data-ix="tile-1"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="tile-2"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="tile-3"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="tile-4"] {
  opacity: 0;
  -webkit-transform: scale(0.96, 0.96);
  -ms-transform: scale(0.96, 0.96);
  transform: scale(0.96, 0.96);
}

html.w-mod-js *[data-ix="hero-text"] {
  opacity: 0;
  -webkit-transform: translate(0px, -20px);
  -ms-transform: translate(0px, -20px);
  transform: translate(0px, -20px);
}

@media (max-width: 991px) {
  h1 {
    font-size: 30px;
    line-height: 38px;
  }
  .hero-section {
    padding-top: 88px;
  }
  .hero-section.home-page-hero {
    padding-top: 110px;
    padding-right: 114px;
    padding-left: 114px;
  }
  .nav {
    padding-top: 10px;
  }
  .nav-link.contact {
    margin-bottom: 11px;
    background-color: hsla(0, 0%, 100%, 0);
  }
  .nav-link.footer-link {
    margin-top: 9px;
  }
  .section {
    margin-right: 90px;
    margin-left: 78px;
  }
  .section.top-section {
    padding-bottom: 0px;
  }
  .tile-text {
    left: 22px;
    bottom: 22px;
    font-size: 30px;
    line-height: 33px;
  }
  .menu-button {
    color: #fff;
  }
  .menu-button.w--open {
    background-color: #55acee;
  }
  .nav-menu {
    background-color: #242424;
  }
  .contact-overlay {
    display: none;
    opacity: 0;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .form-wrapper {
    width: 70%;
  }
  .project-text {
    width: 90%;
  }
  .blog-block {
    padding: 4px;
  }
  .blog-image-wrapper {
    height: 170px;
    margin-bottom: 10px;
  }
  .grid-3 {
    margin-top: 60px;
    grid-row-gap: 60px;
    -ms-grid-rows: 0px auto;
    grid-template-rows: 0px auto;
  }
  .grid-4 {
    margin-top: 60px;
    grid-column-gap: 16px;
    grid-row-gap: 60px;
    grid-template-areas: "Area";
    -ms-grid-rows: 200px 60px 200px;
    grid-template-rows: 200px 200px;
  }
  .image-13 {
    width: 350px;
    height: 180px;
  }
  .image-19 {
    height: auto;
    min-height: 150px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 41px;
  }
  .hero-section {
    padding-bottom: 25px;
  }
  .hero-section.blog-post-hero {
    padding-bottom: 70px;
  }
  .hero-section.home-page-hero {
    padding-right: 46px;
    padding-bottom: 60px;
    padding-left: 46px;
  }
  .logo-text {
    margin-bottom: 19px;
  }
  .nav-link.contact {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 20px;
  }
  .nav-link.footer-link {
    float: none;
  }
  .nav-link.footer-link.contact {
    float: none;
  }
  .section {
    padding-right: 20px;
    padding-left: 20px;
  }
  .section.top-section.home-page {
    padding-right: 5px;
    padding-left: 5px;
  }
  .hero-container {
    top: auto;
    padding: 5px 0px;
  }
  .tile-image {
    margin-bottom: 22px;
    margin-left: 140px;
  }
  .tile-text {
    left: 17px;
    bottom: 14px;
    font-size: 23px;
    line-height: 29px;
  }
  .social-block {
    background-size: 40px;
  }
  .social-block.facebook {
    background-size: 40px;
  }
  .social-block.pinterest {
    background-size: 40px;
  }
  .social-block.dribbble {
    background-size: 40px;
  }
  .logo-footer {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
  }
  .footer-link-col {
    text-align: center;
  }
  .form-wrapper {
    width: 80%;
  }
  .project-title {
    font-size: 25px;
    line-height: 28px;
  }
  .project-link.blog-link {
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 15px;
  }
  .project-text {
    width: 100%;
  }
  .blog-post-wrapper {
    padding-top: 0px;
  }
  .author-wrapper {
    width: 90%;
    margin-bottom: 39px;
  }
  .rich-block.rich-text-class {
    font-size: 12px;
  }
  .rich-block.rich-text-class img {
    margin-top: 0px;
  }
  .columns {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .grid-4 {
    min-height: 100px;
    min-width: 100px;
  }
  .column-2 {
    margin-bottom: 12px;
  }
  .column-3 {
    margin-bottom: 12px;
  }
  .image-15 {
    float: none;
    clear: left;
  }
  .link-block {
    position: absolute;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 24px;
    line-height: 32px;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.38);
  }
  .hero-section.blog-hero {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .hero-section.portfolio-hero {
    padding: 80px 20px 40px;
  }
  .hero-section.blog-post-hero {
    padding-bottom: 60px;
  }
  .hero-section.home-page-hero {
    padding-right: 10px;
    padding-left: 10px;
  }
  .logo-text {
    font-size: 26px;
  }
  .nav-link.footer-link {
    display: block;
    font-size: 13px;
  }
  .nav-link.footer-link.contact {
    padding: 9px;
    font-size: 13px;
  }
  .section {
    position: relative;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 48px;
    padding-top: 50px;
    padding-bottom: 40px;
    float: none;
    clear: none;
  }
  ._60block {
    width: 100%;
  }
  .tile-image {
    margin-left: 10px;
  }
  .tile-text {
    left: 30px;
    bottom: 30px;
    font-size: 35px;
    line-height: 35px;
  }
  ._40block {
    width: 100%;
  }
  ._33block {
    width: 100%;
  }
  .footer-section {
    margin-top: 30px;
    padding-top: 24px;
  }
  .close-link:hover {
    color: #fff;
  }
  .form-wrapper {
    width: 90%;
  }
  .cta-section {
    margin-bottom: -30px;
  }
  .cta-heading {
    font-size: 28px;
  }
  .project-block {
    padding-right: 0px;
    padding-left: 0px;
  }
  .project-title {
    left: 15px;
    bottom: 25px;
    font-size: 20px;
    line-height: 25px;
  }
  .project-tag {
    right: 18px;
  }
  .project-link.blog-link {
    margin-bottom: 15px;
  }
  .blog-block {
    padding-right: 0px;
    padding-left: 0px;
  }
  .blog-details {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
  }
  .author-wrapper {
    width: 100%;
  }
  .home-page-heading {
    font-size: 45px;
    line-height: 50px;
  }
  .rich-block.rich-text-class {
    position: static;
  }
  .rich-block.rich-text-class img {
    margin-top: -1px;
  }
  .link-block {
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    text-align: left;
  }
}